{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un nouveau produit / prestation{% endblock %}

{% block body %}
    
    <div class="container mt-3 mb-3 text-center">
        
            <h3 class="h1 mt-5 mb-4">Création d'un nouveau produit / prestation !</h3>
            <div class="container text-left">
                {{ form_start(form) }}

                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary">Créer le nouveau produit / prestation</button>

                {{ form_end(form) }}
            </div>


    </div>
{% endblock %}
