{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="container">
        <h3>Modification du mot de passe</h3>
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success">Confirmer</button>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}