<footer class="bg-dark py-3 text-center text-white">
    <div class="row">
        <div class="col-md-4"><address>115 Rue Francois-Isautier</address></div>
        <div class="col-md-4">La Fée Péi © {{ "now"|date("Y") }}</div>
        <div class="col-md-4"><a href="tel:+262692771003" class="text-white">06.92.77.10.03</a></div>
    </div>
</footer>
