body {
    margin: 0;
    padding: 0;
}
nav {
    
    border-bottom: 5px solid rgba(245, 239, 240, 0.564);

}
footer {
    overflow: hidden;
    border-top: 5px solid rgba(245, 239, 240, 0.564);
}

.section {
    position: relative;
    width: 100%;
    height: 88vh;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
    background-image: url("/image/background-safari.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

.logo {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 5%;
    background-color: white;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    border: 3px solid rgb(221, 149, 152);
}
.logo img {
    width: 220px;
    overflow: hidden;
    padding:30px;
}
h1 {
    position: absolute;
    color:white;
    z-index: 1;
    text-align: center;
    font-family: 'Montez', cursive;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    font-size: 5em;
    bottom: 30%;
}
h2 {
    position: absolute;
    color:white;
    z-index: 1;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    bottom: 24%;
    font-size: 1.5em;
    
}
h4 {
    font-family: 'Montez', cursive;
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: rgba(232, 199, 202, 0.795);
}
h5 {
    font-size: 1.2em;
}
.boutonhome {
    position: absolute;
    z-index: 1;
    text-align: center;
    bottom: 16%;
}
.linkhome {
    position: absolute;
    z-index: 1;
    text-align: center;
    bottom: 6%;
}
.linkhome img {
    width: 70px;
}
.linkhome img:hover {
    background-color: rgba(240, 233, 237, 0.3);
    border-radius: 10%;
}


.carrousshome {
    max-width: 100%;
    height: auto;
}

.carousel-item h3 {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    font-size: 2.3em;
}

.carousel-item a {
    font-size: 1.5em;
    letter-spacing: 2px;
}

.carousel-item p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.davcardshadow {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.vignette {
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;

}
.image-show {
    height: 400px;
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    border: 3px solid rgba(232, 199, 202, 0.795);
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.boxmap {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

.bloclogcontact img {
    width: 100px;
}
.bloclogcontact img:hover {
    background-color: rgba(238, 181, 213, 0.2);
    border-radius: 10%;
}
.showcontain {
    background-color: rgba(204, 193, 204, 0.2);
}

.bgcireclassic {
    background-color: rgba(204, 193, 204, 0.2);
}
.bgcireepilo {
    background-color: rgba(232, 199, 204, 0.5);
    
}
.bgconseil {
    background-color: rgb(232, 199, 202);
}
