{% extends 'base.html.twig' %}

{% block title %}La fée péi / Contact{% endblock %}

{% block body %}
{% include 'product/_cover_product.html.twig' %}

 <div class="container text-center">
    <h4 class="text-center my-5">Contact / Visite</h4>
    <div class="bloclogcontact mb-5">
        <a href="tel:0692771003"><img src="/image/log-tel-contact.png" alt="logo telephone"></a>
        <a href="https://www.facebook.com/La-fée-peï-634290406725286/"> <img src="/image/log-fcbk-contact.png" alt="logo facebook la fée péi"> </a>
        <a href="mailto:ddoulco@laposte.net"> <img src="/image/log-mail-contact.png" alt="logo mail fée péi"> </a>
    </div>
    <p>L'institut de beauté "  La fée péi " vous accueil dans un cadre zen et chaleureux.<br>Situé en centre ville de Saint-Pierre (115, rue Francois-Isautier), La Fée Péi vous ouvre ses porte du Mardi au samedi, de 9H à 18H.</p>
    <p>Vous pourrez prendre rendez-vous directement depuis ce site prochainement mais en attendant, vous pouvez nous joindre:</p>
    <ul>
        <li>Par téléphone au 06.92.77.10.03</li>
        <li>Sur Facebook <a href="https://www.facebook.com/La-fée-peï-634290406725286/"><strong> -> ici</strong></a></li>
    </ul>
    
        <div class="boxmap my-5">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3716.403512387861!2d55.47261921549474!3d-21.334573385833487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2182a0b987ee0b7f%3A0x17004e989e75278c!2zTGEgZsOpZSBww6lp!5e0!3m2!1sfr!2s!4v1547119773673" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
           
 </div>
       
{% endblock %}