{% extends 'base.html.twig' %}

{% block title %}La fée péi / Corps{% endblock %}

{% block body %}
{% include 'product/_cover_product.html.twig' %}

 <div class="container">
        <h4 class="text-center my-5">Nos soins Corps</h4>
        <div class="row">
            {% include 'product/_product.html.twig' %}
        </div>
 </div>
       
{% endblock %}