{% extends 'base.html.twig' %}

{% block body %}
<div class="section">
    <video autoplay loop muted>
        <source src="/video/video.m4v" type="video/mp4">
    </video>
    <div class="logo">
        <img src="/image/logodelph.jpg" alt="">
    </div>
    <h1 class="titreh1home">Institut de beauté</h1>
    <h2 class="titreh2home">Embarquez dès maintenant pour un moment de détente absolue</h2>
  


    <a class="btn btn-primary boutonhome" href="{{ path('contact_page') }}" role="button">Découvrir</a>
    <div class="linkhome">
        <a href="tel:0692771003"><img src="/image/log-tel-contacthome.png" alt="logo telephone"></a>
        <a href="https://www.facebook.com/La-fée-peï-634290406725286/"> <img src="/image/log-fcbk-contacthome.png" alt="logo facebook la fée péi"> </a>
        <a href="mailto:ddoulco@laposte.net"> <img src="/image/log-mail-contacthome.png" alt="logo mail fée péi"> </a>
    </div>
</div>
{% endblock %}
